@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("/assets/fonts/bootstrap/glyphicons-halflings-regular.eot");
    src: url("/assets/fonts/bootstrap/glyphicons-halflings-regular.svg");
    src: url("/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf");
    src: url("/assets/fonts/bootstrap/glyphicons-halflings-regular.woff");
    src: url("/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2");
}